/** RESET **/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* PRIMARY */

$light-purple: hsl(234, 25%, 52%);
$dark-purple: hsl(233, 54%, 16%);
$gray: hsl(232, 10%, 56%);
$light-pink: hsl(341, 100%, 83%);
$dark-pink: hsl(341, 92%, 62%);

/* NEUTRAL */
$white: hsl(0, 0%, 98%);

/* GRADIENT */
$pink-gradient: linear-gradient(hsl(13, 100%, 64%, 10), hsl(322, 87%, 55%, 10));

$purple-gradient: linear-gradient(
  hsl(237, 100%, 64%, 0.8),
  hsl(322, 87%, 55%, 0.8)
);

@mixin btn($col: $dark-purple, $pad: 9px 24px) {
  background: $col;
  padding: $pad;
  color: $white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 28px;
  max-width: fit-content;
}

body {
  background-color: $white;
  margin-bottom: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

header,
main {
  margin: 16px;
}

.max-width-wrapper {
  max-width: 23.43rem;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 89px;
  }
  .top {
    @include btn();
  }
  .bottom {
    @include btn($purple-gradient);
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-top: 38px;

  .header-intro-chunk {
    display: flex;
    flex-direction: column;
    .header-title {
      font-size: 40px;
      font-weight: 800;
      line-height: 1.2;
    }
    .header-content {
      margin-top: 26px;
      margin-bottom: 24px;
    }
    .intro-btn {
      @include btn($pink-gradient, 15px 37px);
    }
  }
}

footer {
  background-color: $dark-purple;
  padding: 36px 16px;
}
